[Desktop Entry]
Type=Application
Name=regolith-wayland
Comment=Productivity-focused desktop environment, Regolith
Exec=regolith-session-wayland
X-GNOME-WMName=Regolith-Wayland
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
