Source: regolith-session
Section: x11
Priority: optional
Maintainer: Regolith Linux <regolith.linux@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-desktop.git

Package: regolith-session-flashback
Architecture: any
Depends: ${misc:Depends},
    dbus,
    gnome-flashback,
    gnome-session-bin,
    mutter-common,
    regolith-i3-config,
    regolith-session-common,
    x11-xserver-utils,
    regolith-look-default | regolith-look-2,
    xorg,
    xrescat
Recommends:
  i3-next-workspace,
  i3xrocks-cpu-usage,
  i3xrocks-net-traffic,
  i3xrocks-time,
  regolith-ftue,
  regolith-i3-compositor,
  regolith-i3-ftue,
  regolith-i3-gaps-partial,
  regolith-i3-control-center-regolith | regolith-i3-control-center,
  regolith-i3-i3xrocks,
  regolith-i3-ilia,
  regolith-i3-rofication-ilia,
  regolith-i3-swap-focus,
  regolith-i3xrocks-config
Suggests:
    update-manager,
    software-properties-gtk
Provides: regolith-desktop-session
Conflicts: session-shortcuts
Description: Regolith customized gnome-flashback session
 This package contains the desktop and xsession configuration
 necessary to start a Regolith gnome-flashback / i3 desktop session.
 It is based on https://github.com/deuill/i3-gnome-flashback.

Package: regolith-session-sway
Architecture: any
Depends: ${misc:Depends},
    clipman,
    dbus,
    gnome-session-bin,
    regolith-session-common,
    regolith-look-default-loader,
    sway-regolith,
    swayidle,
    trawlcat,
    trawld,
    trawldb,
    wl-clipboard,
    xwayland
Provides: regolith-desktop-session
Conflicts: session-shortcuts
Description: Regolith customized SwayWM session
 This package contains the desktop and wayland session configuration
 necessary to start a Regolith sway session.

Package: regolith-session-common
Architecture: any
Depends: ${misc:Depends},
    regolith-resource-loader
Conflicts: session-shortcuts, regolith-session-flashback (<= 0.6.4-1regolith)
Description: Regolith customized SwayWM session
 This package contains common scripts required by regolith-session variants.
