[Unit]
Description=Regolith on Wayland
DefaultDependencies=no

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

Wants=regolith-wayland.service
